on: [push, pull_request]
name: build
jobs:
  wheels-linux:
    name: Wheels for Linux
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Install cibuildwheel
        run: |
          pip install --upgrade pip setuptools
          pip install cython cibuildwheel==$VERSION
        env:
          VERSION: 2.11.2
      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: '*p3*'
          CIBW_BEFORE_BUILD: pip install cython
      - uses: ncipollo/release-action@v1
        name: Upload wheels
        if: ${{ github.ref_type == 'tag' }}
        with:
          artifacts: "wheelhouse/*"
          allowUpdates: true
          draft: true
          tag: Linux
          token: ${{ secrets.GITHUB_TOKEN }}

  wheels-macos:
    name: Wheels for OS X
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Install cibuildwheel
        run: |
          pip install --upgrade pip setuptools
          pip install cython cibuildwheel==$VERSION
        env:
          VERSION: 2.11.2
      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: '*p3*'
          CIBW_BEFORE_BUILD: pip install cython
      - uses: ncipollo/release-action@v1
        name: Upload wheels
        if: ${{ github.ref_type == 'tag' }}
        with:
          artifacts: "wheelhouse/*"
          allowUpdates: true
          draft: true
          tag: OS X
          token: ${{ secrets.GITHUB_TOKEN }}

  wheels-windows:
    name: Wheels for Windows
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Install cibuildwheel
        run: |
          pip install cibuildwheel==$env:VERSION
        env:
          VERSION: 2.11.2
      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: '*p3*'
          CIBW_BEFORE_BUILD: pip install cython
      - uses: ncipollo/release-action@v1
        name: Upload wheels
        if: ${{ github.ref_type == 'tag' }}
        with:
          artifacts: "wheelhouse/*"
          allowUpdates: true
          draft: true
          tag: Windows
          token: ${{ secrets.GITHUB_TOKEN }}

  wheels-linux-non-x86:
    name: Wheels for Linux non-x86
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        arch:
          - aarch64
          - ppc64le
          - s390x
    steps:
      - uses: actions/checkout@v2.1.0
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1.2.0
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
      - name: Install cibuildwheel
        run: |
          pip install --upgrade pip setuptools
          pip install cibuildwheel==$VERSION
        env:
          VERSION: 2.11.2
      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: '*p3*'
          CIBW_BEFORE_BUILD: pip install cython
          CIBW_ARCHS: ${{ matrix.arch }}
      - uses: ncipollo/release-action@v1
        name: Upload wheels
        if: ${{ github.ref_type == 'tag' }}
        with:
          artifacts: "wheelhouse/*"
          allowUpdates: true
          draft: true
          tag: Linux non-x86
          token: ${{ secrets.GITHUB_TOKEN }}
